.mainButton {
    width:                  100%; 
    min-height:             100px;
    display:                inline-block; 
    color:                  rgba(255,255,255,1);
    outline:                1px solid rgb(240, 110, 110);
    text-align:             center;
    vertical-align:         center;
    box-sizing:             border-box;
    cursor:                 pointer;
    opacity:                50%;

    -moz-transition:        all .2s ease-in;
    -o-transition:          all .2s ease-in;
    -webkit-transition:     all .2s ease-in;
    transition:             all .2s ease-in;
}

.mainButton:focus-visible {
    outline:                none;
}

.mainButton:hover,
.mainButton.active,
.mainButton:focus-visible {
    background:             rgba(241, 108, 108, 1);
    color:                  rgba(255,255,255,1);
    outline:                1px solid rgb(238, 143, 143);
    opacity:                100%;
}

.mainButton img {
    transform:              scale(.9);
    width:                  70px;
    display:                block;
    opacity:                50%;
    padding-top:            10px;
    margin:                 auto;
    
    -moz-transition:        all .2s ease-in;
    -o-transition:          all .2s ease-in;
    -webkit-transition:     all .2s ease-in;
    transition:             all .2s ease-in;
}

.mainButton:focus-visible img,
.mainButton:hover img,
.mainButton.active img {
    opacity:                100%;
    transform:              scale(1.0);
}


