

.playerButton{
    background:   rgb(255, 255, 255);
    width: 100%;
    display: inline-block; 
    min-height: 100px; 
    color:rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: center;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.playerButton img {
    width: 70px;
    display: block;
    filter: brightness(.7);
    padding-top: 10px;
    margin: auto;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
  
.playerButton:hover {
    background:   rgb(255, 255, 255);
    color:        rgb(0, 0, 0);
}

.playerButton:hover img {
    transform: scale(1.1);
    filter: brightness(.4);
}

.playerButton.active {
    color:        rgb(0, 0, 0);
}

.playerButton.active img {
    filter: brightness(.4);
    transform: scale(1.1);
}
  
