

.playerButton{
    background:   rgb(255, 255, 255);
    display: inline-block;
    width: calc(100% / 6); 
    min-height: 100px; 
    outline: 1px solid rgb(255, 255, 255);
    color:rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: center;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.playerButton img {
    width: 70px;
    display: block;
    filter: brightness(.7);
    padding-top: 10px;
    margin: auto;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
  
.playerButton:hover {
    background:   rgb(255, 255, 255);
    color:        rgb(0, 0, 0);
}

.playerButton:hover img {
    opacity: 100%;
    transform: scale(1.1);
    filter: brightness(.2);
}
.playerButton.active img {
    opacity: 100%;
    
    transform: scale(1.1);
}
  
