.App {
  text-align: center;
}

body {
  background-color: rgba(112,112,112,1);
}

.mainContainer {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

.mainButtonContainer {
  background: rgba(239,103,103,1);
  min-height: 100px;
}

.secondaryButtons {
  background: rgba(255,209,101,1);
  min-height: 400px;
}

.controlButtons {
  background: rgba(97,213,250,1);
  min-height: 100px;
}

.mainPage {
  background: rgba(255, 255, 255,1);
  min-height: 100px; 
  height: 100%;
}

.greyBar {
  background: rgba(139, 139, 139,1);
  min-height: 100px; 
}

.darkBlueButton {
  background: rgba(111, 154, 188,1);
  min-height: 100px; 
}

.lightBlueButton {
  background: rgba(97, 213, 250,1);
  min-height: 100px; 
}

